{% extends 'case_mgmt/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card border-0 shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Add Disclosure Form</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            {{ form.officer_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.officer_signature|as_crispy_field }}
                            <small class="text-muted">Upload a clear image of your signature</small>
                        </div>
                        <div class="col-12">
                            {{ form.notes|as_crispy_field }}
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <button type="submit" class="btn btn-primary px-4">
                            <i class="bi bi-save"></i> Submit Disclosure
                        </button>
                        <a href="{% url 'case_detail' case.id %}" class="btn btn-outline-secondary px-4">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}